body {
    background: #222222;
    color: #ffffff;
}

.image {
}

.container {
    max-width: 90%;
}

.ui-controlgroup-vertical {
    background: #333333;
    padding: 5px;
}

.control-container {
    font-weight: bold;
    font: 12px Arial, Helvetica, sans-serif;
    padding: 2px;
    display: flex;
}

.control-label {
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

