body {
    background: #222222;
    color: #ffffff;
}

.body-tune {
    background: #0f2c66;
    color: #ffffff;
}

.title-header {
    color: #f0b60a;
    text-align: center;
    margin-bottom: -12px;
}

.image {
}

.image-tune {
    margin: 10px;
    border: 4px solid black;
}

.container {
}

.container.image {
    padding: 10px;
}
.container.container-flex {
    display: flex;
    justify-content: center;
}
.ui-controlgroup-vertical {
    background: #333333;
    padding: 10px;
    margin: 2px;
    border: solid black;
    border-style: 1px 1px 1px 1px;
    border-radius: 5px;
}

.control-container {
    font-weight: bold;
    font: 14px monospace;
    font-weight: bold;
    padding: 2px;
    display: flex;
}


.control-label {
    width: 100%;
    text-align: right;
    margin-right: 10px;
    line-height: 25px;
}

.control-label.red {
    color: #ff0000
}

.control-label.green {
    color: #00ff00
}


