[Unit]
Description=Tank Gauge NeoPixel Display Output (runs as root)
PartOf=gauge.service
After=gauge.service

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
WorkingDirectory=/opt/opencv_tank_gauge/clients
ExecStart=/usr/bin/python display.py

[Install]
WantedBy=gauge.service
