[Unit]
Description=Tank Gauge OpenCV Image Processor
PartOf=gauge.service
After=gauge.service

[Service]
Type=simple
Restart=always
RestartSec=2
User=gauge
WorkingDirectory=/home/gauge/opencv_tank_gauge/cv
ExecStart=/home/gauge/.venv/bin/python gauge.py

[Install]
WantedBy=gauge.service
