[Unit]
Description=Tank Gauge Home Assistant Interface
PartOf=gauge.service
After=gauge.service

[Service]
Type=simple
Restart=always
RestartSec=2
User=gauge
WorkingDirectory=/home/gauge/opencv_tank_gauge/clients
ExecStart=/home/gauge/.venv/bin/python hass.py

[Install]
WantedBy=gauge.service
