
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  
  <title>OpenCV Tank Gauge</title>
</head>
<body class="body-tune">
  <div class="container image">
    <h3 class="title-header">OpenCV Tank Gauge Tuner</div>
    <div class="col-lg-8  offset-lg-2">
      <img src="{{ url_for('video_feed') }}" width="100%" class="image-tune">
    </div>
  </div>
  <div class="container container-flex">
    <div class="controlgroup-vertical">
      <div class="control-container"><div class="control-label">Rotate Angle</div><input id="rotate_angle" class="spinner"></div>
      <div class="control-container"><div class="control-label">Average Window Size</div><input id="level_average_points" class="spinner"></div>
      <div class="control-container"><div class="control-label">Level Max Deviation</div><input id="level_max_deviation" class="spinner"></div>
    </div>
      
    <div class="controlgroup-vertical">
      <div class="control-container"><div class="control-label red">Indicator Crop X1</div><input id="crop_x1" class="spinner"></div>
      <div class="control-container"><div class="control-label red">Indicator Crop Y1</div><input id="crop_y1" class="spinner"></div>
      <div class="control-container"><div class="control-label red">Indicator Crop X2</div><input id="crop_x2" class="spinner"></div>
      <div class="control-container"><div class="control-label red">Indicator Crop Y2</div><input id="crop_y2" class="spinner"></div>
      <div class="control-container"><div class="control-label red">Indicator Blur</div><input id="indicator_blur" class="spinner"></div>
      <div class="control-container"><div class="control-label red">Indicator Threshold Level</div><input id="indicator_threshold" class="spinner"></div>
    </div>

    <div class="controlgroup-vertical">
      <div class="control-container"><div class="control-label green">Scale Crop X1</div><input id="slice_x1" class="spinner"></div>
      <div class="control-container"><div class="control-label green">Scale Crop X2</div><input id="slice_x2" class="spinner"></div>
      <div class="control-container"><div class="control-label green">Scale Blur</div><input id="tick_blur" class="spinner"></div>
      <div class="control-container"><div class="control-label green">Scale Threshold Level</div><input id="tick_threshold" class="spinner"></div>
    </div>
   
  </div>

  <div class="container container-flex">
    <input id="button-shutdown" class="ui-button ui-widget ui-corner-all" type="submit" value="Shutdown">
    <input id="button-reboot" class="ui-button ui-widget ui-corner-all" type="submit" value="Reboot">
  </div>

  <script>
    function set_config_value(evt, ui, id) {
	var v = $("#" + id).val();
        $.getJSON('/api/set_config_value', {
	    id: id,
	    value: v
        });
    }

    $( function() {
	$( ".controlgroup" ).controlgroup()
	$( ".controlgroup-vertical" ).controlgroup({
	    "direction": "vertical"
	});
    } );
    
    $("#rotate_angle").{{ template_spinner("rotate_angle", step=0.1, fmt="n1") |safe }}
    $("#crop_x1").{{ template_spinner("crop_x1") |safe }}
    $("#crop_y1").{{ template_spinner("crop_y1") |safe }}
    $("#crop_x2").{{ template_spinner("crop_x2") |safe }}
    $("#crop_y2").{{ template_spinner("crop_y2") |safe }}
    $("#slice_x1").{{ template_spinner("slice_x1") |safe }}
    $("#slice_x2").{{ template_spinner("slice_x2") |safe }}
    $("#indicator_blur").{{ template_spinner("indicator_blur") |safe }}    
    $("#tick_blur").{{ template_spinner("tick_blur") |safe }}
    $("#indicator_threshold").{{ template_spinner("indicator_threshold") |safe }}
    $("#tick_threshold").{{ template_spinner("tick_threshold") |safe }}
    $("#level_average_points").{{ template_spinner("level_average_points") |safe }}
    $("#level_max_deviation").{{ template_spinner("level_max_deviation", step=0.1, fmt="n1") |safe }}

    $( function() {
	$( ".widget input[type=submit], .widget a, .widget button" ).button();
	$( "button, input, a" ).on( "click", function( event ) {
	    event.preventDefault();
	    var id = event.currentTarget.id;
	    if (id == "button-shutdown") {
		$.getJSON('/api/shutdown', {type: "halt"});
	    } else if (id == "button-reboot") {
		$.getJSON('/api/shutdown', {type: "reboot"});
	    }	
	} );
    } );
    
  </script>
  

</body>
</html>
